body {
  color: #333;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

core-header-panel[drawer] {
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}

core-pages > section {
  overflow-y: auto
}

core-selector > paper-shadow {
  margin: 1em;
  padding: 1em;
}

paper-fab {
  bottom: 1.5em;
  position: fixed;
  right: 1.5em;
}
